---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My Smart Mirror</title>
	</head>
	<body>
	
    <main class="grid grid-cols-1 grid-gap-4 mx-auto max-w-7xl px-6 lg:px-8 justify-center items-center h-screen">


        <slot />

	</main>        

	</body>
</html>
